$c-background: #070707;
$c-text: #ffffff;
$c-text-hover: #9ca3af;
$c-element: #141414;
$c-element-hover: #282828;
$c-inner-element: #2e2e2e;
$c-inner-element-hover: #333333;
$c-accent: #230046;
$c-accent-hover: #320064;
