@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: $c-text;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  background: $c-background;
}

#app {
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1080px;
}
